<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>889741010344-535e7pvu6h0fhhokcans937i5qup4eo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889741010344-535e7pvu6h0fhhokcans937i5qup4eo9</string>
	<key>API_KEY</key>
	<string>AIzaSyAeqCjPJgSzKs-E0uUWDz-e9DU5bhTp-6U</string>
	<key>GCM_SENDER_ID</key>
	<string>889741010344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gnsJhenJie.-018FinalPrj</string>
	<key>PROJECT_ID</key>
	<string>finalproject-a6075</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-a6075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889741010344:ios:632ab274f4178fb6</string>
	<key>DATABASE_URL</key>
	<string>https://finalproject-a6075.firebaseio.com</string>
</dict>
</plist>